<!DOCTYPE html>
<html lang="en" id="element-to-print">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>HTML 5 Boilerplate</title>
<link rel="stylesheet" href="style.css">
<style>
    body
    {
        font-size: 14px;
        font-family: monospace;
        margin: 2%;
        max-width: 9.25in;
    }

    .row_container
    {
        display: flex;
        min-height: 280px;
    }

    .row_not_centered
    {
        display: flex;
    }

    .row
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col
    {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .picture
    {
        position: absolute;

    }
</style>
</head>
<body>

<!-- <div class="picture">
    <img src="me_censored.jpg" width="150" height="150"></div>
</div> -->
<div class="row">
    <h1>Piotr Walas</h1>
</div>
<div class="row">
    <h2>Embedded Software Engineer</h2>
</div>
<div class="row">
    (+5y exp)
</div>
<div class="row">
    <h2>European Union</h2>
</div>
<div class="row">
    (Currently Poland, Open to relocation)
</div>

<!-- Board member of Emerging Researchers in Artificial life 
and 
member of Institute of Electrical and Electronic Engineers -->
<hr>

<div class="row_not_centered" style="align-items: top;">
    <div class="col" style="width: 50%;">
        <h2>Contact Information</h2>
        <div>
            <p>
            walas.piotr@outlook.com
            </p>
            <a href="https://www.linkedin.com/in/piotrwalas">
                https://www.linkedin.com/in/piotrwalas
            </a>
            <p>
            +48 608 473 380
            </p>
        </div>
    </div>

    <div class="col" style="width: 50%;">
        <h2>Work samples</h2>
        <div>
            <p>
            <a href="https://peterwaiiace.github.io/me.github.io/">
                https://peterwaiiace.github.io/me.github.io/
            </a>
            </p>
            <p>
            <a href="https://github.com/PeterWaIIace">
                https://github.com/PeterWaIIace
            </a>
            </p>
        </div>
    </div>
</div>

<div class="row_not_centered">
    <div class="col" style="width: 50%;">
        <h2>Skills</h2>
        C/C++, Python, Linux, Git, Algorithms, Simulations, Signal Processing, Multithreading/Multiprocessing, communication protocols (I2C, SPI, UART, Ethernet), Applied math, JS/html.
    </div>
    <div class="col" style="width: 50%;">
        <h2>Languages</h2>
        <p>Polish  - mother tongue</p>
        <p>English - fluent</p>
        <p>Russian - beginner/mostly reading</p>
        <p>Finnish - beginner/learning</p>
    </div>
</div>

<hr>

<h2>Education</h2>
<div class="row_not_centered">
    <div class="col" style="margin: 0px; width: 75%; justify-content: center; align-items: center;">
        <div class="row_not_centered">
            <div style="padding: 5px; width: 30px; background-color: bisque;">MSc</div>
            <div style="padding: 5px; width: 250px; background-color: rgb(75, 72, 69); color: white;">Brunel University</div>
            <div style="padding: 5px; width: 350px; background-color: rgb(212, 203, 193);">September 2019 - September 2020</div>
        </div>
        <div class="row_not_centered">
            <div style="padding: 5px; width: 400px; background-color: rgba(192, 181, 171, 0.514);">Advanced Electronics and Electrical Engineering</div>
            <div style="padding: 5px; width: 240px; background-color: rgba(192, 181, 171, 0.514);">Finished with Distinction</div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="https://logowik.com/content/uploads/images/brunel-university-london2872.jpg" height="120px" style="z-index: 3; margin-left: 10px; margin-top: -35px; margin-bottom: -35px;"/>
    </div>
</div>
<p> </p>

<div class="row_not_centered">
    <div class="col" style="margin: 0px; width: 75%; justify-content: center; align-items: center;">
        <div class="row_not_centered">
            <div style="padding: 5px; width: 30px; background-color: bisque;">Eng</div>
            <div style="padding: 5px; width: 250px; background-color: rgb(75, 72, 69); color: white;">AGH UST</div>
            <div style="padding: 5px; width: 350px; background-color: rgb(212, 203, 193);">September 2015 - February 2019</div>
        </div>
        <div class="row_not_centered">
            <div style="padding: 5px; width: 400px; background-color: rgba(192, 181, 171, 0.514);">Electronics Engineering</div>
            <div style="padding: 5px; width: 240px; background-color: rgba(192, 181, 171, 0.514);">Grade 4.0/5.0</div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="https://www.agh.edu.pl/home/ckim/multimedia/znak_graficzny/znak_nazwa_asym_2w_en/N_Big_agh_nzw_a_EN_2w_wbr_RGB.jpg" height="55px" style="z-index: 3; margin-left: 32px; margin-top: -35px; margin-bottom: -35px;"/>
    </div>
</div>
<p> </p>


<hr>

<h2>Engineering Experience</h2>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">November 2023 - Now</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                EyeGestures
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Personal Project
            </h3>
        </div>
        
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (3 month) | Python, DSP, Web
        </h4>
        <p style="margin-left: 10px; width: 760px">
            Eye-tracking webcam-based human-computer interface. Showing possibilities connected to hardware-agnostic eye tracking technology.
        </p>
        <div class="row" style="width: 760px">
            <div class="col" style="width: 100%;">
                <ul style="padding-left: 10px;">    
                    <li>
                        Designed the Eyegesture engine for gaze tracking with minimal calibration.
                    </li>
                    <li>
                        Developed a backend flask server, opening a web interface for the Eyegesture engine.
                    </li>
                    <li>
                        Developed a front-end web app for demoing engine capabilities: 
                        <a href="https://eyegestures.com/">demo</a>
                    </li>
                    <li>
                        Integration of engines into desktop apps for Linux and Windows.
                    </li>
                    <li>
                        Performing research in the field of eye tracking technologies.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">January 2024 - Now</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Emerging Researchers in ALife 
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Volunteering (Board Member)
            </h3>
        </div>
        
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (1 month) | Planning, communication, work organisation
        </h4>
        <p style="margin-left: 10px; width: 760px">
            Early career and student's organization, guiding young researchers by organizing events and building opportunities to network.        </p>
        <div class="row" style="width: 760px">
            <div class="col" style="width: 100%;">
                <ul style="padding-left: 10px;">    
                    <li>
                        Responsible for managing communication between the organization and the conference's hosts.
                    </li>
                    <li>
                        Preparing workshops and social events.
                    </li>
                    <li>
                        Taking part in board activities.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">May 2022 - November 2023</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Emteq Labs United Kingdom 
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Firmware Engineer (Full-Time)
            </h3>
        </div>

        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (1 year, 6 months) | C/C++, Python, system architecture
        </h4>
        <p style="margin-left: 10px; width: 760px">
            A Research and development startup focused on building technology for wearable affective computing devices.
        </p>
        <div class="row" style="width: 760px">
            <div class="col" style="width: 100%;">
                <ul style="padding-left: 10px;">    
                    <li>
                        Lead work on embedded system component architecture for the OcoSense glasses, including utilization of communication protocols like I2C and SPI, interfacing with built-in microphones, and designing power monitoring features. After all, making the entire device more power-aware and responsive.
                    </li>
                    <li>
                        Built a software scheduler for real-time task execution and an overall simplification of the embedded design process.
                    </li>
                    <li>
                        Developed the OcoSense SDK for the Emteq glasses, easing out the development of new apps based on affective computing technology.
                    </li>
                    <li>
                        Expanded the C++ SDK, allowing the plug-in into the iOS Swift-based ecosystem, which saved the company from building an entirely new SDK for iOS.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">September 2020 - May 2022</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Cellxion Ltd. United Kingdom
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Embedded Engineer (Full-Time)
            </h3>
        </div>
        

        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (1 year, 8 months) | C/C++, Embedded Linux, Networks
        </h4>
        <p style="margin-left: 10px; width: 760px">
            The company focused on designing critical communication systems for different public sectors. I was part of the team that designed hardware VPN nodes. 
        </p>
        <div class="row" style="width: 760px">
            <div class="col" style="width: 100%;">
                <ul style="padding-left: 10px;">    
                    <li>
                        Developing and maintaining embedded Linux hardware VPN nodes.
                    </li>
                    <li>
                        Developing and maintaining a highly efficient VPN server.
                    </li>
                    <li>
                        Working on a web-based user interface.
                    </li>
                    <li>
                        Research on  RF direction-finding algorithms for phased arrays.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">September 2019 - September 2020</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Freelancing
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Software/Embedded Engineer
            </h3>
        </div>

        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (1 year) | Electronics, Bare metal, Software, Web
        </h4>
        
        <p style="margin-left: 10px; width: 760px">
            Freelancing and delivering custom software for embedded, desktop and web apps. A few of my projects:
        </p>
        <div class="row" style="width: 760px">
            <div class="col" style="width: 100%;">
                <ul style="padding-left: 10px;">
                    <li>
                        Designed an IoT ultrasonic distance sensor. Based on an ESP32 chip communicating via MQTT with a simple web server.
                    </li>
                    <li>
                        Prepared a BLE library for kitchen utilities using the nRF52 SoftDevice.
                    </li>
                    <li>
                        Developed online Data Scraping tools, mostly based on Selenium, to catalog web shows.
                    </li>
                    <li>
                        Security access card reader, allowing for the deployment of a simple system for the home garden.
                    </li>
                    <li>
                        Designed Automated Trading Data monitor, allowing users to get data from platforms without an API.
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">September 2018 - September 2019</p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Assa Abloy Poland
            </h3>
            <h3 class="row_not_centered" style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Software Engineer (Intern/Full-Time)
            </h3>
        </div>
        
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (1 year) | Hardware, Python, Embedded Linux, Testing
        </h4> 
            
        <p style="margin-left: 10px; width: 760px">
            Part of the team is designing an IoT gateway based on embedded Linux with a focus on encryption support.
        </p>
        <div class="row" style="width: 760px"> 
            <div class="col">
                <ul style="padding-left: 10px;">
                    <li>
                        Designed a hardware test setup allowing for automatic testing of hardware and software components, overall smoothing and accelerating the development.
                    </li>
                    <li>
                        Along the way, I have polished my skills in Python and Bash, learned how to work with Embedded Linux, and greatly expanded my teamwork and cooperation approach.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row_container">
    <div class="col" style="width: 30px; background-color: rgb(75, 72, 69); color: white; margin: 0px; display:flex; justify-content: center; align-items: center;">
        <p style="width: 900px; transform: rotate(270deg); white-space: nowrap;">
            May 2018 - September 2018
        </p>
    </div>
    <div class="col" style="margin: 0px; width: 100%;">
        <div class="row_not_centered">
            <h3 style="margin: 0px; padding: 10px; width: 300px; background-color: bisque;">
                Aptiv Poland
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 420px; background-color: rgb(212, 203, 193);">
                Electronic Engineer (Intern)
            </h3>
        </div>
        
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 740px;">
            (4 months) | Electronics, LT-Spice, Manual Testing
        </h4>
        
        <p style="margin-left: 10px;">
            Working in Active Safety and User Experience in the millimeter wave radar team.
        </p>
        <div class="row" style="width: 760px">
            <div class="col">
                <ul style="padding-left: 10px;">

                    <p>
                        As an intern, I helped with FMEA analysis in millimeter wave radar systems for BMW.
                    </p>
                    <p>
                        I was responsible for quality assurance and manual testing and fixing using measurement equipment, including oscilloscopes, multimeters, and solder stations.
                    </p>
                    <p>
                        Circuit designing and simulations, done in LTspice and Mentor Graphics.
                    </p>

                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

<h2>Publications</h2>

<p>
<a href="https://doi.org/10.1101/2023.05.12.23289646 ">
    OCOsense - smart glasses for analyzing facial expression using optomyographic sensors [2023]
</a>
</p>
<p>
<a href="https://www.researchgate.net/publication/337255811_Acoustic_source_localization_using_drone-embedded_microphone_array">
    Acoustic source localization using drone-embedded microphone array [2019 - SPCup2019 outcome]
</a>
</p>
<p>
<a href="https://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-c063fb29-b782-4f48-94cf-88ed10e0f249">
    Intelligent vision system for controlling traffic lights at intersection entrances [2018] 
</a>
</p>

<hr>

<h2>University Projects</h2> 

<div class="row_not_centered">
    <div class="col; width: 100%;">
        <div class="row_not_centered">            
            <h3 style="margin: 0px; padding: 10px; width: 180px; background-color: rgb(75, 72, 69); color: white;">
                Brunel University
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 150px; background-color: rgb(212, 203, 193);">
                Master's Thesis
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 400px; background-color: bisque;">
                RF-based biometric identification
            </h3>
        </div>
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 770px;">
            GNURadio, USRP, Python
        </h4>
        <p style="width: 770px">
            While working on my final research project, I have developed methods and algorithms for detecting people based on microdoppler RF reflections visible in the Wi-Fi spectrum.
        </p>
    </div>
</div>

<div class="row_not_centered">
    <div class="col; width: 100%;">
        <div class="row_not_centered">            
            <h3 style="margin: 0px; padding: 10px; width: 180px; background-color: rgb(75, 72, 69); color: white;">
                Brunel University
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 350px; background-color: rgb(212, 203, 193);">
                Brunel Robotic Engineering Society
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 200px; background-color: bisque;">
                Flight Computer
            </h3>
        </div>
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 770px;">
            C, Arduino, Sensors
        </h4>
        <p style="width: 770px">
            I was part of the student rocket project as part of BRES, where my major responsibility was focused on designing the system architecture for embedded flight computers.
        </p>
    </div>
</div>

<div class="row_not_centered">
    <div class="col; width: 100%;">
        <div class="row_not_centered">            
            <h3 style="margin: 0px; padding: 10px; width: 80px; background-color: rgb(75, 72, 69); color: white;">
                AGH UST
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 180px; background-color: rgb(212, 203, 193);">
                Engineering Thesis
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 470px; background-color: bisque;">
                Source localistaion with distributed network
            </h3>
        </div>
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 770px;">
            Python, numpy, applied math
        </h4>
        <p style="width: 770px">
            My engineering thesis was focused on achieving dynamic positioning of acoustic sensors for adhoc sensor arrays by designing a framework for acoustic simulations.
        </p>
    </div>
</div>

<div class="row_not_centered">
    <div class="col; width: 100%;">
        <div class="row_not_centered">            
            <h3 style="margin: 0px; padding: 10px; width: 80px; background-color: rgb(75, 72, 69); color: white;">
                AGH UST
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 260px; background-color: rgb(212, 203, 193);">
                Signal Processing Cup 2019
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 390px; background-color: bisque;" >
                Detection of direction of speech 
            </h3>
        </div>
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 770px;">
            Python, Jupyter, DSP
        </h4>
        <p style="width: 770px">
            I was a member of the winning AGH Team during the SP Cup 2019. Our solution provided an algorithm for extracting voice in a harsh acoustic environment for Search and Rescue missions. I was responsible for the implementation of MUltiple SIgnal Classification (MUSIC) algorithm and its pipeline, which resulted in providing a state-of art solution.  
        </p>
        <a href="https://doi.org/10.1121/1.5137614">Find publication here</a>
        <p></p>
    </div>
</div>

<div class="row_not_centered">
    <div class="col; width: 100%;">
        <div class="row_not_centered">            
            <h3 style="margin: 0px; padding: 10px; width: 80px; background-color: rgb(75, 72, 69); color: white;">
                AGH UST
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 260px; background-color: rgb(212, 203, 193);">
                Student Electronics Club
            </h3>
            <h3 style="margin: 0px; padding: 10px; width: 390px; background-color: bisque;">
                Intelligent vision controlled system at traffic lights on intersection
            </h3>
        </div>
        <h4 style="margin: 0px; padding: 10px; background-color: rgba(192, 181, 171, 0.514); width: 770px;">
            C++, OpenCV
        </h4>
        <p style="width: 770px">
            As part of the student electronic club, I was leading the research for the vision-driven intersection. Our research won the best student paper award during the Polish Transport Conference. 
        </p>
        <a href="https://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-c063fb29-b782-4f48-94cf-88ed10e0f249">Find publication here</a>
    </div>
</div>

<hr>

<p style="font-size: 10px;">
    I agree to the processing of personal data provided in this document for realizing the recruitment process pursuant to the Personal Data Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in agreement with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).
</p>

</body>
</html>